@charset "UTF-8";
*{margin:0;padding:0;list-style:none;}
html, body{width:100%;height:100%;}
.btn-wrap{
    width:100%;
    padding:15px 0;
    font-size:0;
    text-align:center;
    button{
        padding:10px;
        border:0 none;
        font-size:13px;
        text-align:center;
        background-color:#ececec;
        &:not(:first-of-type){
            margin-left:30px;
        }
    }
}
.list{
    position:relative;
    width:1280px;
    font-size:0;
    > div{
        display:inline-block;
        margin:0 0 15px;
        padding:10px;
        border:1px solid #e3e3e3;
        box-sizing: border-box;
        font-size:13px;
        > img{
            width:100%;
            vertical-align: top;
        }
    }
    &.type01{
        > div{
            column-count: 4;
            column-gap: 50px;
        }
    }
    &.type02{
        height:calc(100% - 67px);
        margin:0 auto;
        > div{
            position:absolute;
            width:calc(100%/4 - 10px);
            &:nth-child(4n + 1){left:0;}
            &:nth-child(4n + 2){left:25%;}
            &:nth-child(4n + 3){left:50%;}
            &:nth-child(4n + 4){left:75%;}
        }
    }
}

@media(max-width:769px){
    .list{
        width:100%; 
        &.type02{
            > div{
                width:calc(100% - 40px);
                margin:0 20px;
                &:nth-child(n){
                    left:0;
                }
            }
        }
    }
}